# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# trial fonts
/public/fonts

# misc
.DS_Store

npm-debug.log*

# packed files
/release

# local files
.env
.env.development
.vscode/
.idea/

# logs
/logs
releases/Clara_v0.4-beta.zip
releases/Clara_v0.4-beta/1.bundle.js
releases/Clara_v0.4-beta/54.bundle.js
releases/Clara_v0.4-beta/91.bundle.js
releases/Clara_v0.4-beta/364.bundle.js
releases/Clara_v0.4-beta/364.bundle.js.LICENSE.txt
releases/Clara_v0.4-beta/381.bundle.js
releases/Clara_v0.4-beta/381.bundle.js.LICENSE.txt
releases/Clara_v0.4-beta/382.bundle.js
releases/Clara_v0.4-beta/415.bundle.js
releases/Clara_v0.4-beta/472.bundle.js
releases/Clara_v0.4-beta/599.bundle.js
releases/Clara_v0.4-beta/673.bundle.js
releases/Clara_v0.4-beta/771.bundle.js
releases/Clara_v0.4-beta/832.bundle.js
releases/Clara_v0.4-beta/951.bundle.js
releases/Clara_v0.4-beta/951.bundle.js.LICENSE.txt
releases/Clara_v0.4-beta/980.bundle.js
releases/Clara_v0.4-beta/background.bundle.js
releases/Clara_v0.4-beta/background.bundle.js.LICENSE.txt
releases/Clara_v0.4-beta/background.bundle.js.map
releases/Clara_v0.4-beta/manifest.json
releases/Clara_v0.4-beta/node_modules_langchain_dist_chains_api_api_chain_js-_f6da0.bundle.js
releases/Clara_v0.4-beta/node_modules_langchain_dist_chains_api_api_chain_js-_f6da0.bundle.js.map
releases/Clara_v0.4-beta/node_modules_langchain_dist_chains_api_api_chain_js-_f6da1.bundle.js
releases/Clara_v0.4-beta/node_modules_langchain_dist_chains_api_api_chain_js-_f6da1.bundle.js.map
releases/Clara_v0.4-beta/response.json
releases/Clara_v0.4-beta/sidepanel.bundle.js
releases/Clara_v0.4-beta/sidepanel.bundle.js.LICENSE.txt
releases/Clara_v0.4-beta/sidepanel.bundle.js.map
releases/Clara_v0.4-beta/sidepanel.html
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_messages_index_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_messages_index_js.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_prompt_values_js-node_modules_langchain_core_dist_ru-42e624.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_prompt_values_js-node_modules_langchain_core_dist_ru-42e624.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_prompts_base_js-node_modules_langchain_core_dist_pro-b97231.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_prompts_base_js-node_modules_langchain_core_dist_pro-b97231.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_prompts_few_shot_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_core_dist_prompts_few_shot_js.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_base_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_base_js.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_combine_docs_chain_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_combine_docs_chain_js.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_llm_chain_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_llm_chain_js.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_sequential_chain_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_sequential_chain_js.bundle.js.map
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_vector_db_qa_js.bundle.js
releases/Clara_v0.4-beta/vendors-node_modules_langchain_dist_chains_vector_db_qa_js.bundle.js.map
releases/Clara_v0.4-beta/fonts/CircularXXMonoTrialWeb-Regular.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Black.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-BlackItalic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Bold.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-BoldItalic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Book.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-BookItalic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-ExtraBlack.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-ExtraBlackItalic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Italic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Light.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-LightItalic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Medium.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-MediumItalic.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Regular.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-Thin.woff2
releases/Clara_v0.4-beta/fonts/CircularXXTrialWeb-ThinItalic.woff2
releases/Clara_v0.4-beta/fonts/stylesheet.css
releases/Clara_v0.4-beta/icons/icon_16.png
releases/Clara_v0.4-beta/icons/icon_32.png
releases/Clara_v0.4-beta/icons/icon_48.png
releases/Clara_v0.4-beta/icons/icon_128.png
releases/Clara_v0.4-beta/sounds/attending-window-end.wav
releases/Clara_v0.4-beta/sounds/Cheers-EncoreInfinitum.caf
releases/Clara_v0.4-beta/sounds/cheers.wav
releases/Clara_v0.4-beta/sounds/done_alt.wav
releases/Clara_v0.4-beta/sounds/done.wav
releases/Clara_v0.4-beta/sounds/FadingPingPong.wav
releases/Clara_v0.4-beta/sounds/interstitial-delay-tone.wav
releases/Clara_v0.4-beta/sounds/Lighthouse.wav
releases/Clara_v0.4-beta/sounds/loading.wav
releases/Clara_v0.4-beta/sounds/Passage-EncoreInfinitum.caf
releases/Clara_v0.4-beta/sounds/ReceivedMessage.caf
releases/Clara_v0.4-beta/sounds/siri-begin-improved.caf
releases/Clara_v0.4-beta/sounds/siri-begin.wav
releases/Clara_v0.4-beta/sounds/start.wav
releases/Clara_v0.4-beta/sounds/Welcome-EncoreInfinitum.caf
