html, body, #app, #app > div {
	height: 100%;
	font-family: CircularXXTrialWeb-Medium, sans-serif;
	font-weight: normal;
}

body {
	margin: 0;
}

.chats-anchor {
	height: 200px;
	overflow: auto;
}

.cards-container {
	height: 2000px;
}

.chat-input {
	all: initial;
	font-family: Inter, sans-serif;
	font-weight: normal;
	font-size: 16px;
	min-width: 80%;
	border: 0;
}
