html, body, #app, #app > div {
	height: 100%;
}

body {
	margin: 0;
	color: var(--mdui-color-on-surface);
}

.chats-anchor {
	height: 200px;
	overflow: auto;
}

.cards-container {
	height: 2000px;
}

input {
	-webkit-appearance: none;
	all: initial;
}
